#root {
    padding: 30px;
}

h3 {
  text-align: center;
}

.estiloBoton{
  margin-bottom: 20px;
  background-color: rgb(36, 12, 172) !important;
  border-color: rgb(36, 12, 172) !important;
  width: 100%;
  } 

.buscadorStyle{
 width: 50% !important;
  } 

.cuadroAlerta{
  width: auto;
  height: 9px;
  text-align: center;
}

